.foodsContainer {
  margin-top: 30px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  overflow: hidden;
}

.foodImage {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.foodImage:hover {
  transition: all ease-out 1s;
  transform: rotate(360deg);
  overflow: hidden;
  z-index: -1;
}

.foods {
  position: relative;
}

.foodName {
  position: absolute;
  bottom: 0;
  background-color: gray;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  border-radius: 0 0 20px 20px;
}
