.foodDetailsInfoStyles {
  border-bottom: 2px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;
}

.foodInfoName {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 2rem;
}

.foodInfoValue {
  display: flex;
  align-items: center;
  border-left: 2px dashed black;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5rem;
}
