.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.paginationLi {
  margin: 10px 20px;
  border: 3px dashed green;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.paginationLink {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.active {
  background-color: orangered;
}
